<div class="row">
	<div class="six columns offset-by-three end panel">
<%= simple_form_for @meal do |f| %>
	<div class="row">
		<div class="eleven columns end">
			<%= f.input :name %>
			<%#= f.input :last_served_on, as: :string, class: "four column" %>
			<%= f.input :season, as: :radio_buttons, collection: ['Winter', 'Spring', 'Summer', 'Fall'] %>
		</div>
	</div>
	<br/><br/>
	<div class="row">
		<div class="ten columns end form-actions">
			<%= f.submit class: 'button' %>
		</div>
	</div>
<% end %>
	</div>
</div>