
  <!-- Header and Nav -->
  
  <nav class="top-bar">

    <ul>
      <li class="name"><h1><%= link_to "Dinnah", root_path, :class => 'brand' %></h1></li>
    </ul>
    <section>
      <ul class="right">
        <li><%= link_to 'Manage Meals', meals_path %></li>
      </ul>
    </section>
  </nav>
  
  <!-- End Header and Nav -->